<!-- <app-navbar></app-navbar> -->
<!-- <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
</nav> -->
<div id="navbar" class="fixed w-full">
    <app-header></app-header>
</div>

<div class="snap-container h-screen overflow-y-scroll snap-y snap-mandatory">
    <section id="Home" class="snap-start h-screen">
        <div id="buffer" class="buffer"></div>
        <app-main-page></app-main-page>
    </section>
    
    <section id="Stage 1" class="snap-start h-screen">
        <div id="buffer" class="buffer"></div>
        <!-- <div class="p-9"></div> -->
        <app-page-grid></app-page-grid>
    </section>

    <section id="Stage 2" class="snap-start h-screen">
        <div id="buffer" class="buffer"></div>
        <!-- <div class="p-9"></div> -->
        <app-page-grid></app-page-grid>
    </section>
</div>

