<!-- <app-navbar></app-navbar> -->
<!-- <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
</nav> -->

<div class="grid grid-cols-2 h-screen">


    <div id="navbar" class="font-inter col-span-2 h-18"> <!-- Adding z index because map was in front of navbar-->
        <app-header></app-header>
    </div>

    <div class="snap-container h-full overflow-y-scroll snap-y snap-mandatory font-inter col-span-2">
        <section id="Home" class="snap-start h-full z-20">
            <!-- <div id="buffer" class="buffer"></div> -->
            <app-main-page></app-main-page>
        </section>
        
        <section id="Stage 1" class="snap-start h-full z-20">
            <!-- <div id="buffer" class="buffer"></div> -->
            <!-- <div class="p-9"></div> -->
            <app-page-grid></app-page-grid>
        </section>

        <section id="Stage 2" class="snap-start h-full z-20">
            <div id="buffer" class="buffer"></div>
            <!-- <div class="p-9"></div> -->
            <app-page-grid></app-page-grid>
        </section>
    </div>

</div>