<div class="px-4"> <p class="pt-4 ms-4"></p>

    <a href="{{link}}" target="_blank" title="{{title}}&#10;&#10;{{author}}">
        <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md w-48 h-60 hover:brightness-90
        " >
            
            <div class="flex justify-center">

                <div>
                    <img src="assets/urbanism-graphics/Document-Icon.jpg" alt="thumbnail img"
                    class="w-20">
                </div>
                
            </div>

            <div class="text-center text-sm resize-none overflow-ellipsis line-clamp-3 pt-2">
                    {{title}}
            </div>

            <div class="text-center text-xs pt-2 overflow-ellipsis line-clamp-2">
                <i>{{author}}</i>
            </div>
            
        </div>
    </a>

</div>
