<!--Create a button that calls the existing changeLayerColour method when pressed-->
<div class="font-lato">
<button (click)="changeLayerColour('blue')">
    <div class="text-blue-500">
        Change Layer Colour Blue
    </div>
</button>


<button (click)="changeLayerColour('green')">
    <div class="text-green-800">
        Change Layer Colour Green
    </div>
</button>


</div>
<link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
<link rel="stylesheet" href="./access-map.component.css">
<div id="mapView" style="height: 800px; width: 60%;">
</div>

<div>
    <p>
        {{number}}
    </p>
</div>


<app-selector-sidebar [csvRenderer]="csvLayer.renderer" [addition] = number 
(updateCSVRenderer)="updateCSVRenderer($event)" (updateNumber)="updateNumber($event)"></app-selector-sidebar>

