<div class="bg-transparent text-slate-200 font-lato">
  
  
            <div class="pt-4 px-4"> 

            <div class="relative group cursor-pointer" routerLink="{{page_path}}">
                <img src="{{image_path}}" alt="thumbnail img"
                class="mr-4 object-contain w-full h-full rounded-lg shadow-md 
                filter brightness-100 group-hover:brightness-75
                cursor-pointer"
                routerLink="{{page_path}}">
                <!-- Border class: -->
                <!--border-2 border-transparent hover:border-2 hover:border-slate-700-->   

                <div class="rounded-lg absolute inset-0 bg-black opacity-0 transition duration-600 ease-in-out group-hover:opacity-50 flex 
                 justify-center">
                  </div>
                  <div class="rounded-lg absolute inset-0 bg-transparent opacity-0 transition duration-1000 ease-in-out group-hover:opacity-100 flex 
                  justify-center items-center">
                    <p class="text-slate-200 p-4 opacity-100">
                        {{subtitle}}
                    </p>
                  </div>
                </div>
            </div>
  
                <p class="pt-4 ms-4 text-xl">
                  {{title}}
                </p>
                <!-- <div class="ms-4 text-xs pt-2">
                    {{subtitle}}
                </div> -->
            
    </div>