<div class="h-full w-full bg-violet-50 font-inter">

    <div class="flex flex-col h-full">

        <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 font-bold col-span-1 md:col-span-2 lg:col-span-3">
            Phase 1
        </div>

        <div class="flex flex-grow">
            <div class="w-full">
                <app-map></app-map>
            </div>
        </div>
        

        <!-- <app-map></app-map> -->

        <!-- <div class="flex flex-col h-full col-span-1 md:col-span-2 lg:col-span-3">
            <div class="flex-grow">
                <app-map></app-map>
            </div>
        </div> -->

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 bg-violet-50">

            <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 col-span-1 md:col-span-2 lg:col-span-1">
                <div class="font-inter">
                    Sydney-Canberra: <b>2 hr 30 min</b>
                </div>
                
            </div>
        
            <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 col-span-1 md:col-span-2 lg:col-span-1">
                Construction Cost: <b>$2 Billion</b>
            </div>
        
            <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 col-span-1 md:col-span-2 lg:col-span-1">
                Track: <b>75 km</b>
            </div>

            <div class="h-18 md:h-28"> 
                <div class="h-18 md:h-28"></div>

                <!-- space for nabber space -->
            </div>
        </div>

    </div>
</div>
