<div class="h-full w-full bg-violet-50 font-inter">

    <div class="flex flex-col h-full">

        <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 font-bold col-span-1 md:col-span-2 lg:col-span-3">
            Phase 1
        </div>

        <div class="flex flex-grow">
            <div class="w-full">
                <app-map></app-map>
            </div>
        </div>
        

        <!-- <app-map></app-map> -->

        <!-- <div class="flex flex-col h-full col-span-1 md:col-span-2 lg:col-span-3">
            <div class="flex-grow">
                <app-map></app-map>
            </div>
        </div> -->

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 bg-violet-50">

            <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 col-span-1 md:col-span-2 lg:col-span-1">
                <div class="font-inter">
                    Sydney-Canberra: <b>2 hr 30 min</b>
                </div>
                
            </div>
        
            <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 col-span-1 md:col-span-2 lg:col-span-1">
                Construction Cost: <b>$2 Billion</b>
            </div>
        
            <div class="py-4 px-2 h-15 border-b-2 border-violet-200 text-violet-900 col-span-1 md:col-span-2 lg:col-span-1">
                Track: <b>75 km</b>
            </div>

            <button (click)="handleMenuSelection('Stage 1')"
                class="py-4 px-2 h-15 bg-gray-700  opacity-75 col-span-1 md:col-span-2 lg:col-span-3 
                flex justify-center items-center text-gray-100
                transition transform duration-300 hover:bg-gray-800
                group">
                <div>
                    Phase 2
                </div>
                
                <svg class="child w-5 h-5 ms-3" 
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m1 2 4 3 4-3"/>
                </svg>  
    
            </button>


            <!-- space for nabber space -->
            <!-- <div class="h-18 md:h-28"> 
                <div class="h-18 md:h-28"></div>

            <!-- </div> -->
        </div>

    </div>
</div>
