.reveal{
    position: 'relative';
    transform: 'translateY(150px)';
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    position: 'relative';
    transform: 'translateY(0px)';
    opacity: 1;
}

.varfix{
    position: 'fixed';
    width: 75%; /* w-3/4 */
    padding: 2.5rem; /* p-10 */
    flex-grow: 1; /* flex-grow */
}

.varfix.varfixactive{
    position: 'fixed';
    padding: 2.5rem; /* p-10 */
    flex-grow: 1; /* flex-grow */
    opacity: 1;
    top: 808vh;
}

/* attempt at proportional spacing*/
.proportional-space-5 > * {
    margin-right: calc(5vw * 1);
    margin-left: calc(5vw * -1);
}