<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visualising Density</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<app-navbar></app-navbar>

<body class="text-white bg-blue-950">



    <div class="flex">

        <!-- Split each section into 3, one for the image and and text, one for the scale, and one for the 
            corresponding density values -->
        <div [ngSwitch]="scrollPosition" class="varfix">

            <!-- <div data-aos="fade-in">
                <img *ngSwitchCase="'top'" src="assets/images/Montreal.JPG" alt="Montreal Image" class="mr-4">
            </div> -->
<!--             
            <img *ngSwitchCase="'middle'" data-aos="fade-in" src="assets/images/Boston.JPG" alt="Montreal Image" class="mr-4">
            <img *ngSwitchCase="'bottom'" data-aos="fade-in" src="assets/images/Paris.JPG" alt="Montreal Image" class="mr-4"> -->

            <div>

                <!-- Canberra Image -->
                <div *ngSwitchCase="'Canberra'" class = "reveal flex">
                        <!-- <div class="image"></div> -->
                        <div class="w-3/4">
                            <img src="assets/images/Canberra.jpg" alt="Canberra Image"  class="mr-4">
                        </div>
                        
                        <div class="p-12 w-1/4">
                            <p class="text-2xl"> Canberra </p>
                            <p class="text-gray-400 text-lg"> <em>Ainslie</em> </p>

                            <p class="p-1"></p>

                            <p class="text-sm"> Population Density:</p>
                            <p class="text-sm"> ~2,000 people / km <sup>2</sup></p>
                        </div>
                </div>

                <!-- Vancouver Image -->
                <div *ngSwitchCase="'Vancouver'" class = "reveal">
                    <div class="flex">
                        <div class="w-3/4">
                            <img src="assets/images/Vancouver.jpg" alt="Vancouver Image" class="mr-4">
                        </div>
                        
                        <div class="p-12 w-1/4">
                            Vancouver <em>(Kensington-Cedar Cottage)</em> : Population Density ~8,000 people per square km
                        </div>
                    </div>
                </div>

                <!-- Montreal Image -->
                <div *ngSwitchCase="'Montreal'" class = "reveal">
                    <div class="flex">
                        <div class="w-3/4">
                            <img src="assets/images/Montreal.JPG" alt="Montreal Image" class="mr-4">
                        </div>
                        
                        <div class="p-12 w-1/4">
                            Montreal <em> (Le Plateau-Mont-Royal)</em> : Population Density ~12,000 people per square km
                        </div>
                    </div>
                </div>

                <!-- Boston Image -->
                <div *ngSwitchCase="'Boston'" class = "reveal">
                    <div class="flex">
                        <div class="w-3/4">
                            <img src="assets/images/Boston.JPG" alt="Montreal Image" class="mr-4">
                        </div>
                        
                        <div class="p-12 w-1/4"> 
                            Boston <em> (Back Bay)</em>: Population Density ~16,000 people per square km
                        </div>
                    </div>
                </div>

                <!-- Paris Image -->
                <div *ngSwitchCase="'Paris'" class = "reveal">
                    <div class="flex">
                        <div class="w-3/4">
                            <img src="assets/images/Paris.JPG" alt="Montreal Image" class="mr-4">
                        </div>
                        
                        <div class="p-12 w-1/4">
                            Paris <em> (Les Halles)</em> : Population Density ~24,000 people per square km
                        </div>
                    </div>
                </div>


                <!-- New York Image -->
                <div *ngSwitchCase="'NYC'" class = "reveal">
                    <div class="flex">
                        <div class="w-3/4">
                            <img src="assets/images/New York.jpeg" alt="New York Image" class="mr-4">
                        </div>
                        
                        <div class="p-12 w-1/4">
                            New York <em>(Greenwich Village)</em> : Population Density ~36,000 people per square km
                        </div>
                    </div>
                </div>


                <!-- Old images -->

                <!-- Montreal Image -->
                <div *ngSwitchCase="'top'" class = "reveal">
                    <div class="flex">
                        <div>
                            <img src="assets/images/Montreal.JPG" alt="Montreal Image" class="mr-4">
                        </div>
                        
                        <div class="p-12">
                            Montreal <em> (Le Plateau-Mont-Royal)</em> : Population Density ~12,000 people per square km
                        </div>
                    </div>
                </div>

                <!-- Paris Image -->
                <!-- <div *ngSwitchCase="'top-middle'" class = "reveal">
                    <div class="flex">
                        <div>
                            <img src="assets/images/Paris.JPG" alt="Montreal Image" class="mr-4">
                        </div>
                        
                        <div class="p-12">
                            Paris <em> (Le Plateau-Mont-Royal)</em> : Population Density ~12,000 people per square km
                        </div>
                    </div>
                </div> -->

                <!-- Boston Image -->
                <div *ngSwitchCase="'middle'" class = "reveal">
                    <div class="flex">
                        <div>
                            <img src="assets/images/Boston.JPG" alt="Montreal Image" class="mr-4">
                        </div>
                        
                        <div class="p-12"> 
                            Boston <em> (Le Plateau-Mont-Royal)</em> : Population Density ~12,000 people per square km
                        </div>
                    </div>
                </div>

                <!-- Paris Image -->
                <div *ngSwitchCase="'bottom'" class = "reveal">
                    <div class="flex">
                        <div>
                            <img src="assets/images/Paris.JPG" alt="Montreal Image" class="mr-4">
                        </div>
                        
                        <div class="p-12">
                            Paris <em> (Le Plateau-Mont-Royal)</em> : Population Density ~12,000 people per square km
                        </div>
                    </div>
                </div>




                <!-- <img *ngSwitchCase="'top-middle'" [@switchAnimation]="'fadeIn'" src="assets/images/Paris.JPG" alt="Montreal Image" class="mr-4">
                <img *ngSwitchCase="'middle'" [@enterTrigger]="'fadeIn'" src="assets/images/Boston.JPG" alt="Montreal Image" class="mr-4">
                <img *ngSwitchCase="'bottom'" [@enterTrigger]="'fadeIn'" src="assets/images/Paris.JPG" alt="Montreal Image" class="mr-4"> -->
            </div>

            <!-- <div class="p-10">
                Montreal <em> (Le Plateau-Mont-Royal)</em> : Population Density ~12,000 people per square km
            </div> -->
        </div>


        <!-- Adding a non-fixed object of the same width to correctly position the other object -->
        <div class="w-3/4"></div>

        <div id="colour-gradient" class="w-4 px-2 flex-grow" style="background: linear-gradient(to bottom, #e74c3c, #3498db); height: 900vh;"></div>


        <div>
            <svg class="absolute top-24 left-3/4 w-24 h-24">
                <polygon points="2,2 22,11 2,22" fill="#e74c3c" />
            </svg>

            <svg class="absolute top-24 left-3/4" style="height: 900vh">
                <ng-container *ngFor="let tick of generatePolygonData()">
                  <polygon [attr.points]="tick.points" [attr.fill]="tick.color"/>
                  
                </ng-container>
              </svg>
        </div>


        <div class=" bg-blue-950 w-1/4 px-10 font-medium text-xl flex-grow">
            <div *ngFor="let tick_text of generateTextData()" class="dynamicText absolute" [style.margin-top.px]="tick_text.offset">

                <div class="h-20">
                    <p>
                        <b><i>{{tick_text.text_no/1000}},000 people / km <sup>2</sup></i></b>
                    </p>

                </div>

            </div>

        </div>

        <!-- <div class=" bg-blue-950 w-1/4 p-10 font-medium text-xl flex-grow">
            <b><i>12,000 people / km <sup>2</sup></i></b>
        </div> -->


    </div>

    <!-- Image div -->
    <div class = "p-24">
        <!-- title -->
        <div>
            <h1 class="text-2xl">
                <i><u>The Missing Middle in Canberra</u></i>
            </h1>
        </div>

        <!-- Annotations -->
        <!-- Pad after the heading -->
        <div class="py-10"></div> 

         <!-- Adding legend to the scalebar and names of key cities -->

         <!-- Pad from the heading - legacy annotation spot-->
         <div style="padding-left: 5vw;" class = "flex py-0.5">

        </div>

        <!-- Row 1 - Text Annotation -->
        <div style="padding-left: 5vw;" class = "flex py-0.5">

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}" class= "flex items-end w-full text-sm">
                <div class="flex text-center text-gray-200">
                    RZ1 to RZ2 change
                </div>
                
            </div>

            <div [ngStyle]="{ 'padding-left': this.scale_width*1.5 + 'px'}">
            </div>

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}"  class="flex items-end w-full text-sm text-center">
                <div class="flex text-center text-gray-200">
                    RZ2 to RZ3 change
                </div>
            </div>

            <!-- <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}"  >
                <svg class= "w-full h-full" viewBox="0 0 100 40" preserveAspectRatio="none" fill="grey">
                    <polygon points="0,30 2,30 2,40, 0,40"/>
                    <polygon points="0,29 100,29 100,31 0,31"/>
                    <polygon points="98,0 100,0 100,30, 98,30"/>

                </svg>
            </div> -->
        </div>

        <!-- Row 2 - Annotation line -->
        <div style="padding-left: 5vw;" class = "flex py-0.5 h-5">

            <div [ngStyle]="{ 'padding-left': this.scale_width + 'px'}" >
            </div>

            <!-- Annotation line -->
            <div [ngStyle]="{ 'width': this.scale_width*0.5 + 'px'}" >
                <svg class= "w-full h-full" viewBox="0 0 100 40" preserveAspectRatio="none" fill="grey">
                    <polygon points="0,0 8,0 8,20, 0,20"/>
                    <polygon points="0,16 100,16 100,24 0,24"/>
                    <polygon points="92,20 100,20 100,40, 92,40"/>

                </svg>
            </div>

            <div [ngStyle]="{ 'padding-left': this.scale_width + 'px'}" >
            </div>

            <!-- Annotation line -->
            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}"  >
                <svg class= "w-full h-full" viewBox="0 0 100 10" preserveAspectRatio="none" fill="grey">
                    <polygon points="0,5 2,5 2,10 0,10"/>
                    <polygon points="0,4 100,4 100,6 0,6"/>
                    <polygon points="98,0 100,0 100,5, 98,5"/>

                </svg>
            </div>
            
            <!-- <div [ngStyle]="{ 'width': this.scale_width + 'px'}" class= " w-full text-sm">
                <svg viewBox="0 0 100 20" preserveAspectRatio="none">
                    <polygon points="0,8 80,8 80,12 0,12" fill="white" />
                    <polygon points="75,0 100,10 75,20" fill="white" />
                </svg>
                
            </div> -->

        </div>

        <!-- Row 3 - Arrows -->
        <div style="padding-left: 5vw;" class = "flex py-0.5">

            <div [ngStyle]="{ 'padding-left': this.scale_width + 'px'}">
            </div>

            <!-- Arrow -->
            <div [ngStyle]="{ 'width': this.scale_width + 'px'}" class= " w-full text-sm">
                <svg viewBox="0 0 100 20" preserveAspectRatio="none" fill="#FF9998"> <!-- light reds from list: #dd5045, #d3544e -->
                    <polygon points="5,8 80,8 80,12 5,12"/>
                    <polygon points="72,0 95,10 72,20"/> <!-- Add 5 buffer space either side and chang 75-> 72 -->
                </svg>
            </div>

            <!-- Arrow -->
            <div [ngStyle]="{ 'width': this.scale_width + 'px'}" class= " w-full text-sm">
                <svg viewBox="0 0 100 20" preserveAspectRatio="none" fill="#ffbbba" > <!-- example light reds: #ffcccb, #FF9998 -->
                    <polygon points="5,8 80,8 80,12 5,12"/>
                    <polygon points="72,0 95,10 72,20"/>
                </svg>
            </div>

        </div>



        <!-- Scale bar -->

        <div  style="padding-left: 5vw; padding-right: 5vw;">
            <!-- Ticks -->
            <div class="flex justify-between">
            
                <div *ngFor="let color of getColors()" >
                    <div class="w-1 h-1.5 flex" [style.backgroundColor]="color"></div>
                </div>
            </div>

            <!-- White ticks -->
            <!-- <div class="flex justify-between">
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
                <div class="w-1 h-1.5 bg-white"></div>
            </div> -->



            <!-- Scale bar -->
            <div id="colour-gradient2" class="w-full h-6" style="background: linear-gradient(to right, #e74c3c, #3498db);"></div>



            <!-- Ticks -->
            <div class="flex justify-between">

               
                <div *ngFor="let i of this.no_scaleticks_range">

                    <div *ngIf="[2, 5, 7, 9, 13, 19].includes(i); else elseBlock">
                        <div class="w-1 h-1.5 flex" [style.backgroundColor]="getColors()[i-1]"></div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="w-1 h-1.5 flex"></div>
                    </ng-template>
                        
                </div>
            </div>
        </div>

        <!-- Adding legend to the scalebar and names of key cities -->
        <div style="padding-left: 5vw;" class = "flex py-0.5">

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}"  class="text-center">
                
                <!-- removed as slightly off the tick marks, attach ticks to scalebar instead -->
                <!-- <div class="w-1 h-1.5 mx-auto" [style.backgroundColor]="getColors()[1]">
                </div> -->

                <div class="text-xs text-gray-400">2000</div>
                Canberra
            </div>

            <div [ngStyle]="{ 'padding-left': this.scale_width + 'px'}">
            </div>

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}" class="text-center">
                <div class="text-xs text-gray-400">
                8000</div>
                Vancouver
            </div>

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}" class="text-center">
                <div class="text-xs text-gray-400">
                12000</div>
                Montreal
            </div>

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}" class="text-center">
                <div class="text-xs text-gray-400">
                16000</div>
                Boston
            </div>

            <div [ngStyle]="{ 'padding-left': 2*this.scale_width + 'px'}">
            </div>

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}" class="text-center">
                <div class="text-xs text-gray-400">
                24000</div>
                Paris
            </div>

            <div [ngStyle]="{ 'padding-left': 4*this.scale_width + 'px'}">
            </div>

            <div [ngStyle]="{ 'width': this.scale_width*2 + 'px'}" class="text-center">
                <div class="text-xs text-gray-400">
                36000</div>
                New York
            </div>
            

        </div>
        

    </div>

    <!-- Text div -->
    <div>
        <div class="px-24 pb-20">
            <h1 class="text-center text-lg">
                <i>
                    <u><a href="https://missingmiddlecbr.org.au/#faq" >Missing Middle Canberra</a></u> proposes to change all RZ1 zones to RZ2 and all RZ2 zones to RZ3. This would result in
                    modest increases in density, while legalising vast amounts of housing to be built across the city. Increasing supply
                    of medium density housing is the <u><a href="https://grattan.edu.au/wp-content/uploads/2017/05/Slide1.jpg">most effective way</a></u> to increase housing affordability.
                </i>
            </h1>
        </div>

    </div>

</body>
