<app-navbar></app-navbar>

<div class="bg-slate-900 text-slate-200 p-4 font-lato">

    <div class="text-xl pt-2">
        My Favourite Urbanist Content
    </div>
</div>

<div class="border-t border-slate-700"></div>
    
<div class="bg-slate-900 text-slate-200 p-4 font-lato">
    <div class="p-4 bg-slate-900">

        <b class="text-lg"><u>Climate Town</u></b>

        <div class="flex">

            <div class="px-4"> <p class="pt-4 ms-4">
                <i>Single Family Zoning</i></p>

                <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md">
                    <iframe width="420" height="237" src="https://www.youtube.com/embed/SfsCniN7Nsc?si=8SmtNZFPZN-H91Bq" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!-- original: width="560" height="315" -->
                </div>
                <div class="ms-4 text-xs pt-2">
                    In Canberra, 80% of residential land is zoned for single family houses only (RZ1)
                </div>

                
            </div>
            
            <div class="px-4"> <p class="pt-4 ms-4"><i>Carjacking the American Dream</i></p>

                <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md">
                    <iframe width="420" height="237" src="https://www.youtube.com/embed/oOttvpjJvAo?si=GspNfdrUXXhbJ3BZ" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!-- original: width="560" height="315" -->
                </div>
            </div>

        </div>
    </div>

</div>

    <div class="border-t border-slate-700"></div>

<div class="bg-slate-900 text-slate-200 p-4 font-lato">
    <div class="p-4 bg-slate-900">

        <b class="text-lg"><u>Oh the Urbanity</u></b>

        <div class="flex">
            
            <div class="px-4"> <p class="pt-4 ms-4"><i>Montreal's Medium-Density Housing</i></p>

                <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md">
                        <iframe width="420" height="237" src="https://www.youtube.com/embed/Vsn0ahdfQ9k?si=73hHl7to0cieC_RG" 
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!-- original: width="560" height="315" -->
                </div>
            </div>

        </div>
    </div>


        <!-- <div class = "flex p-4 w-10 text-white">
            <div class="bg-blue-600 p-5">
                <a href="https://www.youtube.com/watch?v=Vsn0ahdfQ9k&t=256s" target="_blank">Montreal's plex housing</a>
            </div>
        </div> -->

</div>

<div class="border-t border-slate-700"></div>