<div class="font-lato">

    <div class = "text-lg text-lato">
        My Favourite Urbanist Content:
    </div>

    <div >
        <b>Climate Town</b>
        <div class = "flex p-4 w-72 text-white">
            <div class="bg-blue-600 p-5">
                <a href="https://www.youtube.com/watch?v=SfsCniN7Nsc&t=758s" target="_blank"> Single Family Zoning </a>
            </div>
            <div class="bg-blue-600 p-5">
                <a href="https://www.youtube.com/watch?v=oOttvpjJvAo&t=293s" target="_blank"> Carjacking the American Dream </a>
            </div>
        </div>

        <b>Oh the Urbanity</b>
        <div class = "flex p-4 w-10 text-white">
            <div class="bg-blue-600 p-5">
                <a href="https://www.youtube.com/watch?v=Vsn0ahdfQ9k&t=256s" target="_blank">Montreal's plex housing</a>
            </div>
        </div>

    </div>
</div>
