<app-navbar></app-navbar>

<div class="bg-slate-900 text-slate-200 p-4 font-lato">

    <div class="text-xl pt-2">
        My Favourite Urbanist Content
    </div>
</div>

<div class="border-t border-slate-700"></div>
    
<div class="bg-slate-900 text-slate-200 p-4 font-lato">
    <div class="p-4 bg-slate-900">

        <b class="text-lg"><u>Climate Town</u></b>

        <div class="flex">

            <div class="px-4"> <p class="pt-4 ms-4">
                <i>Single Family Zoning</i></p>

                <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md">
                    <iframe width="420" height="237" src="https://www.youtube.com/embed/SfsCniN7Nsc?si=8SmtNZFPZN-H91Bq" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!-- original: width="560" height="315" -->
                </div>
                <div class="ms-4 text-xs pt-2">
                    In Canberra, 80% of residential land is zoned for single family houses only (RZ1)
                </div>

                
            </div>
            
            <div class="px-4"> <p class="pt-4 ms-4"><i>Carjacking the American Dream</i></p>

                <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md">
                    <iframe width="420" height="237" src="https://www.youtube.com/embed/oOttvpjJvAo?si=GspNfdrUXXhbJ3BZ" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!-- original: width="560" height="315" -->
                </div>
            </div>

        </div>
    </div>

</div>

    <div class="border-t border-slate-700"></div>

<div class="bg-slate-900 text-slate-200 p-4 font-lato">
    <div class="p-4 bg-slate-900">

        <b class="text-lg"><u>Oh the Urbanity</u></b>

        <div class="flex">
            
            <div class="px-4"> <p class="pt-4 ms-4"><i>Montreal's Medium-Density Housing</i></p>

                <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md">
                        <iframe width="420" height="237" src="https://www.youtube.com/embed/Vsn0ahdfQ9k?si=73hHl7to0cieC_RG" 
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> <!-- original: width="560" height="315" -->
                </div>
            </div>

        </div>
    </div>


        <!-- <div class = "flex p-4 w-10 text-white">
            <div class="bg-blue-600 p-5">
                <a href="https://www.youtube.com/watch?v=Vsn0ahdfQ9k&t=256s" target="_blank">Montreal's plex housing</a>
            </div>
        </div> -->

</div>

<div class="border-t border-slate-700"></div>


<div class="bg-slate-900 text-slate-200 p-4 font-lato">
    <div class="p-4 bg-slate-900">

        <b class="text-lg"><u>Graphics</u></b>

        <div class="flex">
            
            <div class="px-4"> <p class="pt-4 ms-4"><i>Improving housing affordability - Grattan Institute</i></p>

                <div class="rounded-lg bg-slate-700 p-5 border border-slate-700 shadow-md">
                    <a href="https://grattan.edu.au/wp-content/uploads/2017/05/Slide1.jpg" target="_blank">
                        <img src="assets/urbanism-graphics/grattan-housing-affordability.jpg" alt="Affordability Graph" style="width: 420px;"
                        class="hover:brightness-75">
                    </a>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="border-t border-slate-700"></div>

<div class="bg-slate-900 text-slate-200 p-4 font-lato">
    <div class="p-4 bg-slate-900">

        <b class="text-lg"><u>Research Papers</u></b>

        <div class="flex">

            <app-research-block
                [link]="'https://cdn.auckland.ac.nz/assets/business/about/our-research/research-institutes-and-centres/Economic-Policy-Centre--EPC-/WP016.pdf'"
                [title]="'Can Zoning Reform Reduce Housing Costs? Evidence from Rents in Auckland'"
                [author]="'University of Auckland'"
                >
            </app-research-block>

            <app-research-block
            [link]="'https://www.tandfonline.com/doi/full/10.1080/01441647.2021.1912849'"
            [title]="'Economic impacts on local businesses of investments in bicycle and pedestrian infrastructure: a review of the evidence'"
            [author]="'Jamey M. B. Volker & Susan Handy'"
            >
            </app-research-block>

            <app-research-block
            [link]="'https://www.rba.gov.au/publications/rdp/2018/pdf/rdp2018-03.pdf'"
            [title]="'The Effect of Zoning on Housing Prices'"
            [author]="'Reserve Bank of Australia'"
            ></app-research-block>

            <app-research-block
            [link]="'https://www.researchgate.net/publication/330184791_The_Social_Cost_of_Automobility_Cycling_and_Walking_in_the_European_Union'"
            [title]="'The Social Cost of Automobility, Cycling and Walking in the European Union'"
            [author]="'Stefan Gössling, Andy Choi, Kaely Dekker & Daniel Metzler'"
            ></app-research-block>

            <app-research-block
            [link]="'https://www.tandfonline.com/doi/full/10.1080/01944363.2019.1651217'"
            [title]="'Death to Single-Family Zoning…and New Life to the Missing Middle'"
            [author]="'Jake Wegmann'"
            ></app-research-block>
            
        </div>
    </div>

</div>

<div class="border-t border-slate-700"></div>